body {
    margin-top: 55px;
}

.sticky-top {
    position: sticky;
    top: 55px;
}

.t-m-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.t-m-2 {
    margin-right: 5px;
    margin-left: 5px;
}

.t-tc-1 {
    color: #0077d3;
}

.t-p-1 {
    margin-left: 30px;
    margin-top: 5px;
}

.t-right {
    right: 100px;
}

.t-fixed {
    width: fit-content;
}

.invisible {
    visibility: hidden;
}

.bg-highlight {
    background-color: #9c9c9c;
}

@media (max-width: 576px) {
    header {
        display: none;
    }
    body {
        margin-top: 0;
    }
    .sticky-top {
        top: 0;
    }
}
